html{
    font-family: Open sans;
}
body{
    margin:0px;
    padding: 0px;
    background-color: blanchedalmond;
}
.header{
    padding: 15px;
    background-color: #fff;

}
.header__content{
    display: flex;
    align-items: center;
}
.header__logo{
    font-size: 2rem;
    margin-right: 1.5rem;
}
.header__links{
    display: flex;
    width: 25vw;
    /* align-items: center; */
    justify-content: space-between;
}
.header__burger div{
    
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
